@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-bg-color: #100E1D;
	--secondary-bg-color: #1E213A;
}

html {
	background-color: var(--primary-bg-color);
}

.secondary-bg {
		background-color: var(--secondary-bg-color);
}